<header>
  <div class="title__buttons-container">
    <div class="title__container">
      <svg class="film__svg" width="24px" height="24px">
        <use href="./images/symbol-defs.svg#icon-film"></use>
      </svg>
      <h2 class="header__title">Filmoteka</h2>
    </div>

    <div class="buttons__container">
      <button class="header__button js-home-btn" type="button">Home</button>
      <button class="header__button" type="button">My Library</button>
    </div>
  </div>

  <div class="header__input-container">
    <input class="search__input" type="search" placeholder="Search movies..." />
  </div>
</header>
